img {
    width: 100%;
    vertical-align: middle;
}

.box {
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto 0;
}

.new {
    text-align: center;
}

.item {
    box-sizing: border-box;
    width: calc(100% / 3 - 10px);
    background-color: #ccc;
    border: 2px solid #ddce89;
    position: relative;
    padding-top: 50px;
}

.title {
    text-align: center;
    padding: 10px;
    color: #fdd667;
}

.item+.item {
    margin-left: 5px;
}

.txt {
    padding: 40px;
}

.asa {
    width: 100px;
    height: 100px;
    margin: auto;
    padding: 20px;
    background-color: #ccc;
    border-radius: 50%;
    box-sizing: border-box;
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
}

.item::after {
    content: "";
    width: 102px;
    height: 102px;
    margin: auto;
    background-color: #ddce89;
    border-radius: 50%;
    position: absolute;
    top: -52px;
    left: 0;
    right: 0;
    z-index: -1;
}